/* ===== Universal Styling ===== */
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background: #fafafa;
	font-family: arial;
}

#main-container {
    width: 100%;
    height: auto;
}

/* ===== logo and navbar Styling ===== */
.nav-main {
	position: sticky;
	top: 0;
	width: 100%;
	height: 12vh;
	background: #00f;
	display: flex;
	flex-wrap: wrap;
	z-index: 1000;
	overflow: hidden;
}

.btn-toggle-nav {
	width: 5vw;
	height: 100%;
	display: inline-block;
	background-color: #00f;
	background-image: url(../media/nav-icon.png);
	background-repeat: no-repeat;
	background-size: 40%;
	background-position: center;
	cursor: pointer;
}

.btn-toggle-nav:hover {
    opacity: 0.7;
}

#logo {
    font-family: 'Pacifico', cursive;
    display: inline-block;
    margin: 0 5%;
}

#logo a {
    text-decoration: none;
    font-size: 2rem;
    cursor: pointer;
}

#logoProperty {
    color: none;
    text-shadow: 1.5px 1.5px #fff;
}

#logoPro {
    color: none;
    text-shadow: 1.5px 1.5px #fff;
}

#username {
	font-size: 0.9em;
	margin: 4vh 0 0 53vw;
	padding: 0 1%;
	color: #fff;
}

#user-image {
	width: 4vw;
	height: 8vh;
	border: 2px solid #18db18;
	border-radius: 50%;
	margin-top: 1vh;
	overflow: hidden;
}

/* ===== Sidebar Styling ===== */
.nav-sidebar {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 5vw;
	height: calc(100vh - 12vh);
	padding: 0 1vw;
	background-color: #00f;
	z-index: 1000;
	transition: all 1s ease-in-out;
}

.nav-sidebar ul {
	padding-top: 3vh;
	overflow: hidden;
	visibility: hidden;
}

.nav-sidebar ul li {
	list-style: none;
	line-height: 5vh;
}

.nav-sidebar ul li a, .nav-sidebar ul li #userId {
	display: block;
	height: 5vh;
	padding: 0 1vw;
	text-decoration: none;
	text-transform: uppercase;
	color: #fff;
	font-size: 1em;
	white-space: nowrap;
	opacity: 0;
	transition: all 1s ease-in-out;
}

.nav-sidebar ul li a:hover {
	background-color: #fff;
	color: #00f
}

/* ===== advert post ===== */
#tab-container {
    width: 95vw;
	margin: 0 0 0 5vw;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
    padding: 5vh 0 7vh 0;
    width: 100%;
    height: 100%;
}

.search-inputs {
    display: block;
    width: 80%;
    height: 6vh;
    margin: 3% auto;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 0 1%;
}

#textarea {
    height: 20vh;
}

label[for=image-input] {
    display: block;
    margin: 0 9.6vw;
}

#image-input {
    margin: 0 9.6vw;
}

#post-btn {
    background-color: #009900;
    color: white;
    padding: 1.5vh 4vw;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 39.5vw;
}

/* ===== footer ===== */
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5vh;
    background-color: #00f;
    color: #fff;
    text-align: center;
}

.footer p {
    margin-top: 1vh;
}

/* ===== media queries ===== */
@media (max-width: 1200px) {
	/* ===== logo and navbar Styling ===== */
	.btn-toggle-nav {
		width: 15vw;
		background-size: 30%;
	}

	#logo {
		margin: 0 5%;
	}

	#logo a {
		font-size: 4rem;
	}

	#username {
		font-size: 1.2em;
		margin: 5vh 0 0 8vw;
		padding: 0 1%;
	}

	#user-image {
		width: 9vw;
		height: 8vh;
		border: 2px solid #18db18;
		border-radius: 50%;
		margin-top: 2vh;
	}

	/* ===== advert post ===== */
    #post-btn {
        padding: 1.5vh 5vw;
        margin-left: 28vw;
    }

	/* ===== footer ===== */
	.footer p {
		margin-top: 1.5vh;
		font-size: 1.3em;
	}
}

@media (max-width: 900px) {
	/* ===== logo and navbar Styling ===== */
	#logo {
		margin: 0 2%;
	}

	#logo a {
		font-size: 3.5rem;
	}

	#username {
		margin: 5vh 0 0 4vw;
	}

	/* ===== advert post ===== */
    #post-btn {
        padding: 1.5vh 5vw;
        margin-left: 19vw;
    }
}

@media (max-width: 500px) {
	/* ===== logo and navbar Styling ===== */
	#logo {
		margin: 0;
	}

	#logo a {
		font-size: 2rem;
	}

	#username {
		margin: 5vh 0 0 0;
	}

	/* ===== advert post ===== */
    #post-btn {
        display: block;
        width: 80%;
        padding: 1.5vh 0;
        margin: 3vh 9.5vw;
    }

	/* ===== footer ===== */
	.footer p {
		margin-top: 1vh;
		font-size: 1em;
	}
}