/* ===== Universal Styling ===== */
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background: #f1f1f1;
	font-family: arial;
}

/* ===== logo and navbar Styling ===== */
.nav-main {
	position: sticky;
	top: 0;
	width: 100%;
	height: 12vh;
	background: #00f;
	display: flex;
	flex-wrap: wrap;
	z-index: 1000;
	overflow: hidden;
}

.btn-toggle-nav {
	width: 5vw;
	height: 100%;
	display: inline-block;
	background-color: #00f;
	background-image: url(nav-icon.png);
	background-repeat: no-repeat;
	background-size: 40%;
	background-position: center;
	cursor: pointer;
}

.btn-toggle-nav:hover {
	opacity: 0.7;
}

#logo {
  font-family: 'Pacifico', cursive;
  display: inline-block;
  margin: 0 5%;
}

#logo a {
  text-decoration: none;
  font-size: 2rem;
  cursor: pointer;
}

#logoProperty {
  color: none;
  text-shadow: 1.5px 1.5px #fff;
}

#logoPro {
  color: none;
  text-shadow: 1.5px 1.5px #fff;
}

#username {
	font-size: 0.9em;
	margin: 4vh 0 0 53vw;
	padding: 0 1%;
	color: #fff;
}

#user-image {
	width: 4vw;
	height: 8vh;
	border: 2px solid #18db18;
	border-radius: 50%;
	margin-top: 1vh;
	overflow: hidden;
}

/* ===== Sidebar Styling ===== */
.nav-sidebar {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 5vw;
	height: calc(100vh - 12vh);
	padding: 0 1vw;
	background-color: #00f;
	z-index: 1000;
	transition: all 1s ease-in-out;
}

.nav-sidebar ul {
	padding-top: 3vh;
	overflow: hidden;
	visibility: hidden;
}

.nav-sidebar ul li {
	list-style: none;
	line-height: 5vh;
}

.nav-sidebar ul li a, .nav-sidebar ul li #userId {
	display: block;
	height: 5vh;
	padding: 0 1vw;
	text-decoration: none;
	text-transform: uppercase;
	color: #fff;
	font-size: 1em;
	white-space: nowrap;
	opacity: 0;
	transition: all 1s ease-in-out;
}

.nav-sidebar ul li a:hover {
	background-color: #fff;
	color: #00f
}

/* ===== searchbar Styling ===== */
#search-container {
	width: 95vw;
	margin: 0 0 0 5vw;
	padding: 2%;
}

#searchbar-holder {
	margin: 2vh auto;
}

.search-inputs {
	width: 18vw;
	height: 5vh;
	margin-right: 1vw;
	margin-bottom: 1vh;
	border: 1px solid #ccc;
	color: #777;
	font-size: 1.05em;
}

#search {
	width: 18vw;
	height: 5vh;
	margin-right: 1vw;
	margin-bottom: 1vh;
	color: #fff;
	font-size: 1.1em;
	background: linear-gradient(#049b04, #578843);
	background-color: #69a74e;
	box-shadow: inset 0 1px 1px #a4e388;
	border-color: #3b6e22 #3b6e22 #2c5115;
	border-radius: 1%;
    border: 1px solid;
    cursor: pointer;
    text-shadow: 0 1px 2px rgba(0,0,0,.5);
}

/* ===== property list Styling ===== */
#sale-div {
	width: 95vw;
	margin: 0 0 0 5vw;
	padding: 2%;
}

#sale-div h2{
	margin-bottom: 1vh;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 21vw;
  margin: 0 1vw 0 0;
  display: inline-block;
  background: #fff;
  margin-bottom: 4vh;
}

.card img {
  width: 100%;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-container {
  padding: 1vh 1vw;
}

#price, #property-name {
	font-size: 1.3em;
}

#location {
	color: #888;
	font-size: 1.1em;
}

#price {
	color: #008800;
	font-family: times-roman;
}

.icon-div {
	padding: 0 0 2vh 12vw;

}

.icon-div span {
	padding: 3% 5%;
	background-color: #009900;
	color: #fff;
	border-radius: 8%;
}

/* ===== footer ===== */
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   height: 5vh;
   background-color: #00f;
   color: #fff;
   text-align: center;
}

.footer p {
	margin-top: 1vh;
}

/* ===== media queries ===== */

@media (max-width: 1200px) {
	/* ===== logo and navbar Styling ===== */
	.btn-toggle-nav {
		width: 15vw;
		background-size: 30%;
	}

	#logo {
		margin: 0 5%;
	}

	#logo a {
		font-size: 4rem;
	}

	#username {
		font-size: 1.2em;
		margin: 5vh 0 0 8vw;
		padding: 0 1%;
	}

	#user-image {
		width: 9vw;
		height: 8vh;
		border: 2px solid #18db18;
		border-radius: 50%;
		margin-top: 2vh;
	}

	/* ===== searchbar Styling ===== */
	.search-inputs {
		width: 21vw;
		font-size: 1.7em;
	}

	#search {
		width: 21vw;
		font-size: 1.7em;
	}

	/* ===== property list Styling ===== */
	.card {
		box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
		transition: 0.3s;
		width: 40vw;
		margin: 0 2.5vw;
		margin-bottom: 4vh;
	}

	#price, #property-name {
		font-size: 1.8em;
	}

	#location {
		font-size: 1.6em;
	}

	#price {
		font-size: 1.8em;
	}

	.icon-div {
		padding: 0 0 2vh 18vw;

	}

	.icon-div span {
		font-size: 1.7em;
		padding: 4% 6%;
	}

	/* ===== footer ===== */
	.footer p {
		margin-top: 1.5vh;
		font-size: 1.3em;
	}
}

@media (max-width: 900px) {
	/* ===== logo and navbar Styling ===== */
	#logo {
		margin: 0 2%;
	}

	#logo a {
		font-size: 3.5rem;
	}

	#username {
		margin: 5vh 0 0 4vw;
	}

	/* ===== searchbar Styling ===== */
	.search-inputs {
		width: 21vw;
		font-size: 1.6em;
	}

	#search {
		width: 21vw;
		font-size: 1.6em;
	}

	/* ===== property list Styling ===== */
	.card {
		box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
		transition: 0.3s;
		width: 65vw;
		margin: 0 12vw;
		margin-bottom: 4vh;
	}

	#price, #property-name {
		font-size: 2em;
	}

	#location {
		font-size: 1.8em;
	}

	#price {
		font-size: 2.2em;
	}

	.icon-div {
		padding: 2vh 0 2vh 35vw;

	}
}

@media (max-width: 900px) {
	/* ===== logo and navbar Styling ===== */
	#logo {
		margin: 0;
	}

	#logo a {
		font-size: 2rem;
	}

	#username {
		margin: 5vh 0 0 0;
	}

	/* ===== searchbar Styling ===== */
	.search-inputs {
		width: 43vw;
		font-size: 1em;
	}

	#search {
		width: 43vw;
		font-size: 1em;
	}

	/* ===== property list Styling ===== */
	.card {
		box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
		transition: 0.3s;
		width: 75vw;
		margin: 0 7.5vw;
		margin-bottom: 4vh;
	}

	#price, #property-name {
		font-size: 1.2em;
	}

	#location {
		font-size: 1em;
	}

	#price {
		font-size: 1.4em;
	}

	.icon-div {
		padding: 2vh 0 2vh 35vw;

	}

	.icon-div span {
		font-size: 1em;
		padding: 4% 6%;
	}

	/* ===== footer ===== */
	.footer p {
		margin-top: 1vh;
		font-size: 1em;
	}
}